@import "~@/styles/variables.scss";

.mobile {
  display: none;
}

#age-gate-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.age-gate-body {
  height: 754px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/AGEGATE.jpg');
  background-size: cover;
  background-position: right;


}

.width-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  max-width: $max-width;
}

.logo-container {
  width: 25%;

  img {
    width: 100%;
    height: auto;
  }

  margin-right: 3rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 41.666666666666665%;

  // width: 45%;
  // max-width: 320px;
  .title-container {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.content {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: 'AvenirLTStd-Heavy';
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  box-sizing: border-box;

  .footer {
    
    width: 100%;
    height: 300px;
    background-color: #e7e7e7;
    display: block;
    position: relative;
    padding: 57px 0px 57px 0px;

    .footer-logo {
     
      width: 80%;
      margin: 0px auto 40px auto;
    }

    .footer-links-container {
      
      height: 32px;
      margin: 0px auto 0px auto;
      border-bottom: 1px solid #8A8C8E;
      width: 80%;

      .footer-links {
       
        width: 70%;
        float: left;

        .footer-link {
         
          display: inline-block;
          margin: 0px 30px 0px 0px;

          a {
          
            background-color: transparent;
            font-family: 'AvenirLTStd-Heavy';
            font-size: 11px;
            color: #8A8C8E;
            text-decoration: none;
          }
        }
      }

      .gbgr {
       
        width: 30%;
        height: 32px;
        float: left;
        position: relative;
      }
    }

    .footer-copy {
     
      font-family: 'AvenirLTStd-Heavy';;
      font-size: 10px;
      line-height: 14px;
      color: #8A8C8E;
      width: 80%;
      margin: 14px auto 0px auto;
      a {
          
        background-color: transparent;
        font-family: 'AvenirLTStd-Heavy';
        font-size: 11px;
        color: #8A8C8E;
        text-decoration: none;
      }
    }
  }

}


.age-gate-footer {
  background-color:  #e7e7e7 ;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .logo-in-footer {
    width: 80px;

    img {
      width: 200px;
      height: auto;
    }
  }

  .number-in-footer {
    width: 180px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .footer-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 0px;
      font-size: 0.8rem;
      ;
      font-family: 'AvenirLight';
      color: black;
    }
  }

  .privacy-container {
    display: flex;
    flex-direction: row;

    h4 {
      font-family: 'AvenirLight';
      &:hover {
        cursor: pointer;
        text-decoration: underline;
       
        &.nohover {
          text-decoration: none;
          cursor: default;
        }
      }

      color: black;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      margin-bottom: 8px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.subtitle {
  text-align: center;

  h2 {
    margin-bottom: 0px;
    font-family: 'AvenirLTStd-Heavy';
    // text-transform: uppercase;
    font-weight: normal;
    color: black;
    margin-bottom: 1rem;
    font-size: 38px;
    line-height: 48px;
    font-family: 'AvenirLTStd-Heavy';
  }
}

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
}

input:focus,
button:focus {
  outline: 0;
  border-color: $darker-color;
}

input,
.submit-button {
  width: 100%;
  background-color: transparent;
  font-family: 'AvenirLTStd-Heavy';
  font-size: 16px;
  text-align: left;
  color: #202020;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #585857;
  margin: 0 30px 0 0;
  padding: 0;
}



.submit-button {

  width: 156px;
  height: 40px;
  background-color: #ffffff;
  color: transparent;
  font-size: 16px;
  line-height: 16px;
  border-radius: 100px;
  padding: 14px 0 8px 0;
  margin: 40px 0 0 0;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 65px;
  background-image: url("https://www.coorslight.com/sites/CoorsLightRD/files/Chill_button_AV.png");


}


.form-row {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    margin-left: 5px;
  }

  &.hasError {
    input {
      border-color: #a74941 !important;
      color: #a74941;
    }
  }
}

.AgeGate-warning {
  color: #a74941;
}

@media (min-width: 600px) and (max-width: 900px) {
  .width-container {
    flex-direction: column;
    justify-content: center;
  }

  .logo-container {
    width: 30%;

    margin-right: 0rem;
  }

  .form-container {
    // max-width: 400px;
    // width: 60%;
    justify-content: flex-start;
    align-items: flex-start;

    .subtitle {
      h2 {
        margin-top: 0px;
        font-family: "AvenirLTStd-Heavy";
      }
    }
  }

  .form-row {
    justify-content: flex-start;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .age-gate-footer {
    .number-in-footer {
      width: 145px;
    }
  }

  .privacy.mobile {
    margin-bottom: 1rem !important;
  }

  .age-gate-body {
    height: calc(100vh - 140px);
  }

  .width-container {
    flex-direction: column;
    justify-content: center;
    margin-top: -30px;
  }

  .logo-container {
    width: 50%;

    margin-right: 0rem;
  }

  .title-container {
    width: 50%;
  }

  .form-container {
    width: 92%;
    align-items: center;
    max-width: 350px;
  }

  .form-row {
    justify-content: flex-start;
    margin-left: 0rem;

    input:first-child {
      margin-left: 0px;
    }
  }

  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;

    h2 {
      margin-top: 0px;
      font-size: 1.5rem;
    }
  }

  .AgeGate-warning-message {
    text-align: center;
  }

  .age-gate-footer {
    flex-direction: column;
    height: 240px;
    text-align: center;

    .footer-titles {
      width: 85%;
    }

    .logo-in-footer {
      display: none;
    }

    .privacy-container {
      display: flex;
      flex-direction: column;

      h4 {
        margin: 5px 0px;
        text-align: center;
        font-size: 0.8rem;
      }

      .bar {
        display: none;
      }
    }
  }

  input {
    width: 3rem;
  }
}