@import "~@/styles/variables.scss";

.mobile {
  display: none;
}

#age-gate-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.age-gate-body {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.width-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: $max-width;
}

.logo-container {
  width: 25%;
  img {
    width: 100%;
    height: auto;
  }
  margin-right: 3rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 45%;
  // max-width: 320px;
  .title-container {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
.age-gate-footer {
  background-color: $dark-color;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  .logo-in-footer {
    width: 80px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .number-in-footer {
    width: 180px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .footer-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      margin: 0px;
      font-size: 0.8rem;;
      font-family: $font-din;
      color: $white-color;
    }
  }
  .privacy-container {
    display: flex;
    flex-direction: row;
    h4 {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
        &:last-child {
          text-decoration: none;
          cursor: default;
        }
      }
      color: $white-color;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      margin-bottom: 8px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

.subtitle {
  text-align: center;
  h2 {
    margin-bottom: 0px;
    font-family: $font-stratum;
    text-transform: uppercase;
    font-weight: normal;
    color: $dark-color;
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}

input,
label,
select,
button,
textarea
{
	margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background:none;
	line-height:1;	
}

input:focus, button:focus
{
  outline:0;
  border-color: $darker-color;
}

input, .submit-button {
  border-color: $dark-color;
  border-radius: 0px;
  border-width: 4px;
  background-color: transparent;
  text-align: center;
  height: 100%;
  color: $dark-color;
  font-size: 1rem;
  width: 4rem;
  border-style:solid;
  padding: 0px !important;
  text-transform: uppercase;
  font-weight: bold;
  // margin-right: 5px;
}



.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px !important;
  width: 5rem;
  height: 53px !important;
}


.form-row {
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    margin-left: 5px;
  }
  &.hasError {
    input {
      border-color: #a74941 !important;
      color: #a74941;
    }
  }
}

.AgeGate-warning {
  color: #a74941;
}

@media (min-width: 600px) and (max-width: 900px) {
  .width-container {
    flex-direction: column;
    justify-content: center;
  }

  .logo-container {
    width: 30%;
    
    margin-right: 0rem;
  }

  .form-container {
    // max-width: 400px;
    // width: 60%;
    justify-content: center;
    align-items: center;
    .subtitle {
      h2 {
        margin-top: 0px;
      }
    }
  }
  .form-row {
    justify-content: flex-start;
  }
}

@media (min-width: 300px) and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .age-gate-footer {
    .number-in-footer {
      width: 145px;
    }
  }

  .privacy.mobile {
    margin-bottom: 1rem !important;
  }
  .age-gate-body {
    height: calc(100vh - 140px);
  }
  .width-container {
    flex-direction: column;
    justify-content: center;
    margin-top: -30px;
  }
  
  .logo-container {
    width: 50%;
    
    margin-right: 0rem;
  }

  .title-container {
    width: 50%;
  }
  .form-container {
    width: 92%;
    align-items: center;
    max-width: 350px;
  }
  .form-row {
    justify-content: flex-start;
    margin-left: 0rem;
    input:first-child {
      margin-left: 0px;
    }
  }
  .subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    h2 {
      margin-top: 0px;
    }
  }

  .AgeGate-warning-message {
    text-align: center;
  }

  .age-gate-footer {
    flex-direction: column;
    height: 240px;
    text-align: center;
    .footer-titles {
      width: 85%;
    }
    .logo-in-footer {
      display: none;
    }
    .privacy-container {
      display: flex;
      flex-direction: column;
      h4 {
        margin: 5px 0px;
        text-align: center;
        font-size: 0.8rem;
      }
      .bar {
        display: none;
      }
    }
  }

  input {
    width: 3rem;
  }
}