@import "~@/styles/variables.scss";

.high-life-now-container {

}

.flex-row {
  display: flex;
  flex-direction: row;
  &.reverse {
    flex-direction: row-reverse;
  }
  .flex-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: $blue-color;
    color: $white-color;
    .centeredtitle {
      margin-bottom: 50px;
    }
    p.centered {
      max-width: 500px;
      margin-bottom: 50px;
      font-size: 18px;
      width: 55%;
    }
  }
  .flex-image-container {
    width: 50%;
    min-height: 575px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

p.red-button {
  max-width: 500px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  color: #FFF;
  font-size: 18px;
  width: 55%;
  a {
    display: block;
    width: 240px;
    background-color: #a74941;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid #f1efda;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    transition: 300ms;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    &:hover {
      background: $darker-color;
    }
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  
  //CSS
  .flex-row {
    flex-direction: column-reverse;
    &.reverse {
      flex-direction: column-reverse;
    }
    .flex-content, .flex-image-container {
      width: 100%;
    }
    .flex-image-container {
      background-size: 100%;
      min-height: 350px;
    }
    .flex-content {
      p.centered {
        width: 75%;
      }
      .mobile-title {
        margin-top: 50px;
        width: 80%;
      }
      .mobile-subtitle {
        width: 80%;
      }
      .red-button {
        margin-bottom: 80px;
      }
    }
  }
}