


.homeCool-container {
  height: -webkit-fill-available;
  display: flex;
  justify-content: center;
  //align-items: center;
  height: 803px;
  width: auto;
  left: -82px;
  //display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/ENFRIADO.png');
  background-size: cover;
  background-position: right;

  //background-
  //  background-size: ;
  //   -webkit-tap-highlight-color: rgba(0,0,0,0);
  // font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  // font-size: 14px;
  // line-height: 1.42857143;
  // color: #202020;
  // box-sizing: border-box;
  // border: 0;
  // vertical-align: middle;
  // position: absolute;
  // display: block;
  // bottom: 0;
  // transition: all 1.5s ease-in-out;
  // transition-delay: .2s;
  // left: -322.5px;
  // height: 803px;
  // width: auto;

  .homeCool_logo-container {
   
    .workhorse-content {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.42857143;
      color: #ffffff;
      box-sizing: border-box;
      width: 60%;
      position: absolute;
      z-index: 50;
      top: 42%;
      left: 15.8%;
      transform: translateY(-50%);
      //padding-top: 50px;
      transition: padding-top 1s ease-in-out;

      .headline {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        line-height: 1.42857143;
        box-sizing: border-box;
        color: #ffffff;
        width: 50%;
        font-family: 'AvenirLTStd-Heavy';
        font-size: 24px;
        font-weight: 300;
        position: relative;
        transition: all .5s ease-in-out;
        top: 0;
        opacity: 1;

        h3 {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          box-sizing: border-box;
          color: inherit;
          margin-top: 20px;
          margin-bottom: 10px;
          font-family: 'AvenirLTStd-Heavy';
          font-size: 28px;
          font-weight: normal;
          line-height: 48px;
          letter-spacing: 1px;
        }

        p {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          color: #ffffff;
          font-weight: 300;
          box-sizing: border-box;
          margin: 0 0 10px;
          font-family: 'AvenirLight';
          font-size: 20px;
          line-height: 22px;
          letter-spacing: .5px;
        }
      }

      .workhorse-icons {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #ffffff;
        box-sizing: border-box;
        width: 100%;

        .workhorse-content-icon {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 14px;
          line-height: 1.42857143;
          color: #ffffff;
          box-sizing: border-box;
          width: 100%;
          margin: 40px 0 30px 0;
          position: relative;
          transition: all 1s ease-in-out;
          top: 0;
          opacity: 1;
          transition-delay: .5s;

          .workhorse-icon {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #ffffff;
            box-sizing: border-box;
            width: 100px;
            float: left;
            img{
              width: 60px ;
              height: 60px ;
           }
          }

          .workhorse-content-item-copy {

            box-sizing: border-box;
            width: 300px;
            //float: left;
            font-family: 'AvenirLight';
            padding: 11px 0 0 0;

            h4 {
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
              box-sizing: border-box;
              color: inherit;
              font-family: 'AvenirLTStd-Heavy';
              font-size: 23px;
              font-weight: 900;
              line-height: 28px;
              margin: 0;
              width: 400px;
            }

            p {
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
              color: #ffffff;
              box-sizing: border-box;
              font-family: 'AvenirLight';
              font-size: 20px;
              line-height: 28px;
              margin-left: 100px;
              margin-top: 0;
              width: 400px;
            }
          }
        }
      }
    }

    display: flex;

    // img {
    //   max-width: 100%;
    //   width: 100%;
    //   height: auto;
    //   display: inline-block;
    // }
  }
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  //CSS

}

@media (min-width: 600px) and (max-width: 768px) and (orientation: landscape) {

  //CSS

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 600px) {

  //CSS
  .homeCool-container {
    .homeCool_logo-container {
      // width: 66%;

      .workhorse-content {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #ffffff;
        box-sizing: border-box;
        position: absolute;
        z-index: 50;
        top: 50%;
        transform: translateY(-50%);
        padding-top: 50px;
        transition: padding-top 1s ease-in-out;
        width: 80%;
        left: 10%;
        .headline {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          line-height: 1.42857143;
          box-sizing: border-box;
          color: #ffffff;
          width: 100%;
          font-family: 'AvenirLTStd-Heavy';
          font-size: 24px;
          font-weight: 300;
          position: relative;
          transition: all .5s ease-in-out;
          top: 0;
          opacity: 1;
  
          h3 {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            box-sizing: border-box;
            color: inherit;
            margin-top: 20px;
            margin-bottom: 10px;
            font-family: 'AvenirLTStd-Heavy';
            font-size: 22px;
            font-weight: normal;
            line-height: 48px;
            letter-spacing: 1px;
          }
  
          p {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            color: #ffffff;
            font-weight: 300;
            box-sizing: border-box;
            margin: 0 0 10px;
            font-family: 'AvenirLight';
            font-size: 18px;
            line-height: 22px;
            letter-spacing: .5px;
          }
        }
        .workhorse-icons {
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 14px;
          line-height: 1.42857143;
          color: #ffffff;
          box-sizing: border-box;
          width: 100%;
  
          .workhorse-content-icon {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857143;
            color: #ffffff;
            box-sizing: border-box;
            width: 100%;
            margin: 40px 0 30px 0;
            position: relative;
            transition: all 1s ease-in-out;
            top: 0;
            opacity: 1;
            transition-delay: .5s;
  
            .workhorse-icon {
              -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
              font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
              font-size: 14px;
              line-height: 1.42857143;
              color: #ffffff;
              box-sizing: border-box;
              width: 50px;
              float: left;
              img{
                 width: 40px ;
                 height: 40px ;
              }
            }
  
            .workhorse-content-item-copy {
  
              box-sizing: border-box;
              width: 250px;
              //float: left;
              font-family: 'AvenirLight';
              padding: 0px 0 0 0;
  
              h4 {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                box-sizing: border-box;
                color: inherit;
                font-family: 'AvenirLTStd-Heavy';
                font-size: 18px;
                font-weight: 900;
                line-height: 28px;
                margin: 0;
              }
  
              p {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                color: #ffffff;
                box-sizing: border-box;
                font-family: 'AvenirLight';
                font-size: 15px;
                line-height: 28px;
                margin-left: 50px;
                margin-top: 0;
                width: 300px;
              }
            }
          }
        }
      }
    }
  }
}