@import "~@/styles/variables.scss";

#homecontainer {
  height: 100vh;
}

.bigscroller {
  position: relative;
  height: fit-content;
  overflow: hidden;
}

#hero {
  min-height: 100vh;
}

.watcher {
  width: 100%;
  background-color: transparent;
  height: 50px;
  position: absolute;
  z-index: 90;
  &.top {
    top: 200px;
  }
  &.bottom {
    bottom: 80px;
  }
}

// #ourBeer {
//   margin-bottom: -100px;
//   z-index: 3;
// }

// #highlifehoy {
//   margin-top: 100px;
//   //z-index: 3;
// }

@media (min-width: 320px) and (max-width: 768px) {
  #ourBeer {
    margin-bottom: -80px;
  }
}

.demo-hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.above-all {
  z-index: $above-all;
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.home-fade-enter-active, .home-fade-leave-active {
  transition: all 150ms;
}
.home-fade-enter, .home-fade-leave-to {
  opacity: 0.5;
  transform: translateY(200px);
}