@import "~@/styles/variables.scss";

body {
  margin: 0px;
  background: $light-color;
  font-family: $font-din;
  height: 100vh;
}

h1, h2 {
  font-family: $font-dinbold;
}

section {
  padding-top: 100px;
  position: relative;
}

@media (min-width: 320px) and (max-width: 768px) {
  section {
    padding-top: 80px;
  }
}

p {
  font-family: $font-dinbold;
}

#app {
  overflow-y: scroll;
}

#app::-webkit-scrollbar { width: 0px !important }

#lacerveza {
  margin-top: -40px;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all 150ms;
}
.slide-fade-enter, .slide-fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0.5;
  transform: translateX(300px);
}

@font-face {
  font-family: "DINBold";
  src: url('@~/DINBold.otf') format('opentype');

}

@font-face {
  font-family:'DINRegular';
  src: url('@~/DIN-Regular.eot');
  src: url('@~/DIN-Regular.eot?#iefix') format('embedded-opentype'),
  url('@~/DIN-Regular.woff2') format('woff2'),
  url('@~/DIN-Regular.woff') format('woff'),
  url('@~/DIN-Regular.svg#DIN-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}

@font-face {
  font-family: "StratumNo1Heavy";
  src: url('@~/StratumNo1Heavy.ttf') format('truetype');
}