@import "~@/styles/variables.scss";

.the-beer-container {
  .thebeer_content {
    padding: 0rem 1rem;
    width: 70%;
    margin-left: calc(30%/2);
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    
  }
}

.thebeer_text-content {
  width: 85%;
  p {
    font-family: $font-din;
    width: 80%;
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 60px;
    color: $gray-color;
  }
}
.thebeer_logo-row {
  display: flex;
  // flex-wrap: nowrap;
  width: 100%;
  .thebeer_imagelogo-container {
    width: 25%;
    margin-right: 2rem;
    img {
      width: 100%;
      height: auto;
    }
  }
  .thebeer_phrase-container {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      margin-top: 0.75rem;
    }
  }
}

.the-beer_image-title {
  width: 60%;
  text-align: center;
  display: inline-block;
  margin: auto;
  img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }
}

.table-values {
  table {
    border: 3px solid $darker-color;
    font-size: 1.25rem;
    margin: 0px !important;
    border-collapse: collapse;
    border-spacing: 0;
  }
  td, th {
    padding: 0.5rem 1rem;
    font-family: $font-dinbold;
    border-left: 3px solid $darker-color;
    text-align: center;
  }
  td {
    font-size: 2rem;
    font-family: $font-din;
    border-bottom: 3px solid $darker-color;
  }
}

.mobile-thebeer_logo-row {
  display: none;
}


@media (min-width: 601px) and (max-width: 768px) {
  .the-beer-container {
    .thebeer_content {
      padding: 0rem 15px;
      width: calc(100% - 30px);
      margin-left: 0px;
      margin-top: 2rem;
    }
  }  
}

.mobile-table-values {
  display: none;
}

@media (min-width: 320px) and (max-width: 600px) {
  .the-beer-container {
    .thebeer_content {
      padding: 0rem 15px;
      width: calc(100% - 30px);
      margin-left: 0px;
      margin-top: 0px;
    }
  }  

  .thebeer_text-content {
    width: 50%;
    p {
      margin-top: 5px;
      margin-bottom: 2rem;
      font-family: $font-din;
      width: 100%;
      font-size: 0.98rem;
      text-align: left;
    }
  }

  .the-beer_image-title {
    width: 45%;
    display: block;
  }

  .mobile-thebeer_logo-row {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    .thebeer_imagelogo-container {
      width: 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
    .thebeer_phrase-container {
      width: 80%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .thebeer_logo-row {
    display: none;
  }

  .table-values {
    display: none;
  }

  .mobile-table-values {
    display: block;
    padding-left: 15px;
    table {
      border: 3px solid $darker-color;
      font-size: 1rem;
      margin: 0px !important;
      border-collapse: collapse;
      border-spacing: 0;
    }
    td, th {
      padding: 0.5rem 1rem;
      font-family: $font-dinbold;
      border-left: 3px solid $darker-color;
      text-align: center;
    }
    td {
      font-size: 1.2rem;
      font-family: $font-din;
      border-bottom: 3px solid $darker-color;
    }
  }
}