$above-all: 10000000000000000000;

$white-color: #8A8C8E;
$light-color: #F0EFDA;
$dark-color: #E7E7E7;
$darker-color: #84754E;
$blue-color: #243644;
$gray-color: #3F3F3E; 

$font-dinbold: "DINBold";
$font-din: "DINRegular";
$font-stratum: "Helvetica Neue";

$max-width: 1140px;