$above-all: 10000000000000000000;

$white-color: #FFF;
$light-color: #F0EFDA;
$dark-color: #9E895C;
$darker-color: #84754E;
$blue-color: #243644;
$gray-color: #3F3F3E; 

$font-dinbold: "DINBold";
$font-din: "DDIN";
$font-stratum: "StratumNo1Heavy";

$max-width: 1140px;