$above-all: 10000000000000000000;

$white-color: #8A8C8E;
$light-color: #F0EFDA;
$dark-color: #e7e7e7;
$darker-color: #84754E;
$blue-color: #243644;
$gray-color: #3F3F3E; 

$font-dinbold: "AvenirLTStd-Heavy";
$font-din: "AvenirLight";
$font-stratum: "AvenirLight";

$max-width: 1140px;